{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{% static 'css/c1.css' %}">
</head>
<body>
    <center>
        <h1><marquee>|| JAI SHREE RAM - JAI SHREE RAM ** RAJA RAM ** JAI SHREE RAM - JAI SHREE RAM || </marquee></h1>
        <img src="{% static 'images/ram.jpg' %}" alt="" width="1500" height="1000">
    </center>
</body>
</html>
